.formControl {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formControl label {
  margin-bottom: .6rem;
  font-weight: bold;
}

.formControl select {
  font-size: 1.1rem;
  padding: .7rem;
  border-radius: 0.3125rem;
  border: none;
}