.btn {
  background-color: #222;
  font-size: 1rem;
  color: #fff;
  padding: .7rem 1.2rem;
  text-decoration: none;
  border-radius: 0.3125rem;
  transition: .5s;
  letter-spacing: .1rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.btn:hover {
  color: #ffbb33;
  transform: scale(1.1)
}