.newProjectContainer {
  width: 28.125rem;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 3rem;
}

.newProjectContainer h1 {
  margin-bottom: .5rem;
}

.newProjectContainer p {
  color: #7b7b7b;
  font-weight: bold;
}