.footer {
  background-color: var(--black);
  color: var(--white);
  padding: 2.5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  cursor: default;
}

.socialList {
  display: flex;
  justify-content: center;
  list-style: none;
}

.socialList li a {
  color: var(--white);
  margin: 0 1rem;
  font-size: 1.875rem;
}

.socialList li a:hover {
  transition: .5s;
  color: var(--yellow);
}

.copyRight {
  margin-top: 1rem;
}

.copyRight span {
  font-weight: bold;
  color: var(--yellow);
}