.btn {
  background-color: var(--black);
  color: var(--white);
  padding: .5rem 1rem;
  text-decoration: none;
  transform: 1s;
  border-radius: 0.3125rem;
  letter-spacing: .1rem;
  font-size: 1.5rem;
  transition: all .3s ease-in-out;
}

.btn:hover {
  color: var(--yellow);
  transform: scale(1.1)
}