.message {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--black);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
  border-radius: 0.3125rem;
}

.success {
  color: var(--success);
  background-color: var(--successBackground);
  border-color: var(--successBorder);
}

.error {
  color: var(--error);
  background-color: var(--errorBackground);
  border-color: var(--errorBorder);
}