.navBar {
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  padding: 1rem;
  font-size: 1.2rem;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 1rem;
  transition: all .2s ease-in-out;
}

.item a {
  color: var(--white);
  text-decoration: none;
}

.item a:hover {
  color: var(--yellow);
  transition: .5s;
}