* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sana', sans-serif;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  background-color: #efefef;
  height: 100vh;
}