* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sana', sans-serif;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  background-color: #efefef;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #ffbb33;
  border-radius: 50px;
}

